<!-- views/country.ejs -->
<!doctype html>
<html>
<head>
    <title>Corona Vid -</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
    
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> CORONA VID-19</h1>

    <form action ="/" method ="POST">
        <div class = "form-group">
            <label> Country </label>
            <input type="text" class="form-control" name="country">
        </div>
        
        <button type="submit" class="btn btn-warning btn-lg">Get Data</button>
         </form>
         <hr>
</div>

</div>
</body>
</html>
